<div class="col-md-3">
    <h5 class="side_nav_header">Book Clubs</h5>
    <div class="nav flex-column nav-pills side_nav">
        <a class="nav-link {% if active.view %}active{% endif %}" href="{{ url_for('bookclubs') }}">View all book clubs</a>
        <a class="nav-link {% if active.bookclubsnew %}active{% endif %}" href="{{ url_for('bookclubsnew') }}">Create a new book club</a>
        <a class="nav-link {% if active.bookclubsignup %}active{% endif %}" href="{{ url_for('bookclubsignup') }}">Sign up for a book club</a>
    </div>


    <div class="flex-column flashSideBar">
        <!--FLASH messages reference: https://www.youtube.com/watch?v=cYWiDiIUxQc&t=30 -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }} 
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

</div> 