{% extends "layout.html" %}
{% block title %}Novel Hovel Book Clubs Page{% endblock title %}

{% block body %}
<!-- <h2>Novel Hovel Book Clubs Page</h2> -->
<div class="row">
    {% include 'partials/bookclubssidebar.html' %}
    <div class="col-md-7">
        <div class="clubForm">
            <form method="POST" action="">
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Create a New Book Club</legend>
                    <div class="form-group">
                        {{ form.clubName.label(class="form-control-label") }} 
                        {{ form.clubName(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.meetingFrequency.label(class="form-control-label") }}
                        <br>
                        <span>
                            - Number of days between meetings. For example, enter 30
                            if the group meets monthly.
                        </span> 
                        {{ form.meetingFrequency(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.clubGenre.label(class="form-control-label") }}
                        {{ form.clubGenre(class="form-control") }}
                    </div>
                    <label class="form-control-label">Club Leader's Name</label>
                    <div class="row">
                        <div class="col">
                            {{ form.clubLeaderFirst(class="form-control", placeholder="First name") }}
                        </div>
                        <div class="col">
                            {{ form.clubLeaderLast(class="form-control", placeholder="Last name") }}
                        </div>
                    </div> 
                </fieldset>
                <div class="form-group">
                    {{ form.clubSubmit(class="btn btn-outline-primary") }}
                </div>
            </form>
        </div>            
    </div>
</div>
{% endblock body %}