{% extends "layout.html" %}
{% block title %}Novel Hovel Book Clubs Page{% endblock title %}

{% block body %}

<!-- 
References:
https://getbootstrap.com/docs/4.0/components/navs/   -> vertical pills with tabs plugin
https://wtforms.readthedocs.io/en/2.2.1/fields/#
https://stackoverflow.com/questions/44379016/disabling-one-of-the-options-in-wtforms-selectfield
https://stackoverflow.com/questions/46921823/dynamic-choices-wtforms-flask-selectfield 
-->

<div class="row">
    <div class="col-md-3">
        <h5 class="side_nav_header">Book Clubs</h5>
        <div class="nav flex-column nav-pills side_nav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-view-tab" data-toggle="pill" href="#v-pills-view" role="tab" aria-controls="v-pills-view-tab" aria-selected="true">View all book clubs</a>
            <a class="nav-link" id="v-pills-new-tab" data-toggle="pill" href="#v-pills-new" role="tab" aria-controls="v-pills-new-tab" aria-selected="false">Create a new book club</a>
            <a class="nav-link" href="{{ url_for('bookclubsignup') }}">Sign Up For a Book Club</a>
        </div>
    </div>
    <div class="col-md-9 mainContent">
        <div class="tab-content" id="v-pills-tabContent">

            <!-- View All Book Clubs -->
            <div class="tab-pane fade show active" id="v-pills-view" role="tabpanel" aria-labelledby="v-pills-view-tab">
                <legend>Book Club Information</legend>
                <table class="table">
                    <thead>
                        <th hidden>ID</th>
                        <th>Genre</th>
                        <th>Book Club Name</th>
                        <th>Meeting Frequency</th>
                        <th>Next Meeting</th>
                        <th>Club Leader</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for club in clubs %}
                        <tr id="{{ club.bookClubID }}">
                            <td hidden>{{ club.bookClubID }}</td>
                            <td class="genre">{{ club.genre }}</td>
                            <td>{{ club.clubName }}</td>
                            <td>{{ club.meetingFrequency|capitalize }}</td>
                            <td>{{ club.nextMeeting }}</td>
                            <td>{{ club.firstName }} {{ club.lastName }}</td>
                            <td>
                                <input type="button" class="btn btn-primary btn-sm" name="view_clubMembers"
                                value="View Members" onclick="window.location='/view_clubMembers/{{club.bookClubID}}'"></input>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    
            <!-- Create a New Book Club -->
            <div class="tab-pane fade" id="v-pills-new" role="tabpanel" aria-labelledby="v-pills-new-tab">
            <div class="col-md-8">
                <div class="clubForm">
                    <form method="POST" action="/bookclubs" id="createBookClubForm">
                    {{ form.csrf_token() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Create a New Book Club</legend>
                            <div class="form-group">
                                {{ form.clubName.label(class="form-control-label") }} 
                                {{ form.clubName(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.meetingFrequency.label(class="form-control-label") }}
                                {{ form.meetingFrequency(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.clubGenre.label(class="form-control-label") }}
                                <small class="text-muted extra">
                                    Genre not listed? <a class="ml-2" href="{{ url_for('genres') }}">Add new genre.</a>
                                </small>
                                <select class="form-control genre" name="clubGenre" required>
                                {% for option in form.clubGenre %}
                                    {% if loop.first %}
                                        <option value="" disabled selected>Select a genre</option>
                                    {% endif %}
                                    {{ option }}
                                {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                {{ form.clubLeaderEmail.label(class="form-control-label") }}    
                                {{ form.clubLeaderEmail(class="form-control") }}
                            </div> 
                        </fieldset>
                        <div class="form-group">
                            {{ form.clubSubmit(class="btn btn-outline-primary") }}
                        </div>
                    </form>
                </div>
            </div>
            </div>

            <!-- Sign Up For A Book Club
            <div class="tab-pane fade" id="v-pills-signup" role="tabpanel" aria-labelledby="v-pills-signup-tab">
            <div class="col-md-8">
                <div class="clubSignUpForm">
                    <form method="POST" action="">
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Sign Up For A Book Club</legend>
                            <div class="form-group">
                                {{ formSignUp.clubName.label(class="form-control-label") }} 
                                <select class="form-control" name="clubName">
                                {% for option in formSignUp.clubName %}
                                    {% if loop.first %}
                                        <option value="" disabled selected>Select a book club</option>
                                    {% endif %}
                                    {{ option }}
                                {% endfor %}
                                </select>
                            </div>       
                            <div class="form-group">
                                {{ formSignUp.email.label(class="form-control-label") }}
                                {{ formSignUp.email(class="form-control") }}
                            </div>         
                        </fieldset>
                        <div class="form-group">
                            {{ formSignUp.signUpSubmit(class="btn btn-outline-primary") }}
                        </div>
                    </form>
                </div> 
            </div>
            </div>
        -->
        </div>
    </div>
</div>
{% endblock body %}