{% extends "layout.html" %}
{% block title %}Novel Hovel Book Clubs Page{% endblock title %}

{% block body %}

<!-- 
References:
https://getbootstrap.com/docs/4.0/components/navs/   -> vertical pills with tabs plugin
https://wtforms.readthedocs.io/en/2.2.1/fields/#
https://stackoverflow.com/questions/44379016/disabling-one-of-the-options-in-wtforms-selectfield
https://stackoverflow.com/questions/46921823/dynamic-choices-wtforms-flask-selectfield 
-->

<div class="row">
    {% include "partials/bookclubssidebar.html" %}
    <div class="col-md-9 mainContent">
        <!-- View All Book Clubs -->
        <div>
            <legend>Book Club Information</legend>
            <table class="table">
                <thead>
                    <th hidden>ID</th>
                    <th>Genre</th>
                    <th>Book Club Name</th>
                    <th>Meeting Frequency</th>
                    <th>Next Meeting</th>
                    <th>Club Leader</th>
                    <th></th>
                </thead>
                <tbody>
                {% for club in clubs %}
                    <tr id="{{ club.bookClubID }}">
                        <td hidden>{{ club.bookClubID }}</td>
                        <td class="genre">{{ club.genre }}</td>
                        <td>{{ club.clubName }}</td>
                        <td>{{ club.meetingFrequency|capitalize }}</td>
                        <td>{{ club.nextMeeting }}</td>
                        <td>{{ club.firstName }} {{ club.lastName }}</td>
                        <td>
                            <input type="button" class="btn btn-primary btn-sm" name="view_clubMembers"
                            value="View Members" onclick="window.location='/view_clubMembers/{{club.bookClubID}}'"></input>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}