{% extends "layout.html" %}
{% block title %}Novel Hovel Index Page{% endblock title %}

{% block body %}
    <h2>Novel Hovel Index Page</h2>
    <h4>Outline</h4>
        <ul>
            <li><a href="{{ url_for('members') }}">Members</a></li>
                <ul>
                    <li>Become a member - INSERT - required</li>
                    <li>View members - SELECT query required (could view members specific to a book club or meeting)</li>
                    <li>UPDATE - optional</li>
                    <li>DELETE - optional</li>
                </ul>
            <li><a href="{{ url_for('bookclubs') }}">Book Clubs</a></li>
                <ul>
                    <li>View Book Clubs - SELECT query required (displays all book clubs)</li>
                    <ul>
                        <li>UPDATE - optional</li>
                        <li>DELETE - optional</li>
                    </ul>
                    <li>Create a new book club - INSERT - required</li>
                    <li>Sign up for a book club - part of one of our M:M relationships - INSERT required if we keep as M:M relationship</li>
                </ul>
            <li><a href="{{ url_for('meetings') }}">Meetings</a></li>
                <ul>
                    <li>View meetings - SELECT query required (display all future meetings)</li>
                    <ul>
                        <li>UPDATE - required (one entity UPDATE is required)</li>
                        <li>DELETE - required (one entity DELETE is required)</li>
                    </ul>
                    <li>Schedule a new meeting - INSERT - required</li>
                    <li>Sign up for a meeting - part of one of our M:M relationships - INSERT required</li>
                    <li>View members attending a meeting. 
                        <ul>
                            <li>Remove member from a meeting - DELETE required for one of our M:M relationships</li>
                        </ul>
                    </li>
                </ul>
            <li><a href="{{ url_for('books') }}">Books</a></li>
                <ul>
                    <li>Add a book - INSERT - required</li>
                    <li>View books - SELECT query required (could implement when creating a book club to narrow down book results by genre)</li>
                    <ul>
                        <li>DELETE - can delete a book, if a book is selected for a book club meeting, the club meeting book will be "NULL" </li>
                    </ul>   
                    <li>UPDATE - optional</li>
                </ul>
            <li><a href="{{ url_for('genres') }}">Genres</a></li>
                <ul>
                    <li>Add a genre - INSERT</li>
                    <li>View genres - SELECT query will used in the BookClubs and ClubMeetings create new forms</li>
                    <li>UPDATE - optional</li>
                    <li>DELETE - optional</li>
                </ul>
        </ul>
{% endblock body %}