{% extends "layout.html" %}
{% block title %}Novel Hovel Meetings Page{% endblock title %}

{% block body %}

<div class="row">
{% include "partials/meetingssidebar.html" %}

<div class="col-md-8">
    <div class="meetingForm">
        <form method="POST" action="">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Schedule a New Club Meeting</legend>
                <div class="form-group">
                    {{ form.clubName.label(class="form-control-label") }} 
                    <select class="form-control" name="clubName">
                    {% for option in form.clubName %}
                        {% if loop.first %}
                            <option value="" disabled selected>Select a book club</option>
                        {% endif %}
                        {{ option }}
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            {{ form.meetingDate.label(class="form-control-label") }}
                            {{ form.meetingDate(class="form-control", placeholder="YYYY-MM-DD") }}
                        </div>
                        <div class="col">
                            {{ form.meetingTime.label(class="form-control-label") }}
                            {{ form.meetingTime(class="form-control", placeholder="H:M") }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.meetingBook.label(class="form-control-label") }}
                    <small class="text-muted extra">
                        Book not listed? <a class="ml-2" href="{{ url_for('books') }}">Add new book.</a>
                    </small>
                    {{ form.meetingBook(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.meetingLeaderEmail.label(class="form-control-label") }}
                    {{ form.meetingLeaderEmail(class="form-control") }}
                </div> 
            </fieldset>
            <div class="form-group">
                {{ form.meetingSubmit(class="btn btn-outline-primary") }}
            </div>
        </form>
    </div>            
</div>
</div>
<script src="{{ url_for('static', filename='js/meetings.js') }}"></script>
{% endblock body %}