{% extends "layout.html" %}
{% block title %}Novel Hovel Meetings Page{% endblock title %}

{% block body %}

<!-- 
References:
https://getbootstrap.com/docs/4.0/components/navs/   -> vertical pills with tabs plugin
https://wtforms.readthedocs.io/en/2.2.1/fields/#
https://stackoverflow.com/questions/44379016/disabling-one-of-the-options-in-wtforms-selectfield
https://stackoverflow.com/questions/46921823/dynamic-choices-wtforms-flask-selectfield 
-->

<div class="row">
{% include "partials/meetingssidebar.html" %}
    <div class="col-md-9 mainContent">
        <div class="tab-content" id="v-pills-tabContent">
            
            <!-- View All Club Meetings -->
            <div class="tab-pane fade show {% if active.view %}active{% endif %}" id="v-pills-view" role="tabpanel" aria-labelledby="v-pills-view-tab">
                <legend>All Future Book Club Meetings</legend>
                <table class="table">
                    <thead>
                        <th hidden>ID</th>
                        <th>Date/Time</th>
                        <th>Book Title</th>
                        <th>Author</th>
                        <th>Book Club</th>
                        <th>Meeting Leader</th>
                        <th></th>
                    <th></th>
                    </thead>
                    <tbody id="meetingsTableBody">
                        {% for meeting in all_meetings %}
                        <tr id="{{ meeting.meetingID }}">
                            <td hidden>{{ meeting.meetingID }}</td>
                            <td>{{ meeting.dateTime }}</td>
                            <td>{{ meeting.title }}</td>
                            <td>{{ meeting.author }}</td>
                            <td>{{ meeting.clubName }}</td>
                            <td>{{ meeting.firstName }} {{ meeting.lastName }}</td>
                            <td><button id="mb{{ meeting.meetingID }}" type="button" class="modify btn btn-primary btn-sm">Modify</button></td>
                            <td><button id="db{{ meeting.meetingID }}" type="button" class="delete btn btn-secondary btn-sm">Delete</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>            
    </div>
</div>
<script src="{{ url_for('static', filename='js/meetings.js') }}"></script>
{% endblock body %}