<!-- 
---------------------------------------------------------------------------
Members INSERT, SELECT
--------------------------------------------------------------------------- -->

{% extends "layout.html" %}
{% block title %}Novel Hovel Members Page{% endblock title %}

{% block body %}

<!-- 
    REFERENCES:
        https://www.w3schools.com/bootstrap/bootstrap_grid_basic.asp
        https://www.youtube.com/watch?v=eu0tg4vgFr4
        https://getbootstrap.com/docs/4.0/components/navs/   -> vertical pills with tabs plugin
        https://mdbootstrap.com/docs/jquery/utilities/borders/
        https://getbootstrap.com/docs/4.0/components/alerts/
-->
<div class="row">
    <div class="col-md-3">
        <h5 class="side_nav_header">Members</h5>
        <nav class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-view-tab" data-toggle="pill" href="#v-pills-view" role="tab" aria-controls="v-pills-view" aria-selected="true">View all Members</a>
            <a class="nav-link" id="v-pills-add-tab" data-toggle="pill" href="#v-pills-add" role="tab" aria-controls="v-pills-add" aria-selected="false">Become a Member</a>
        </nav>

        <div class="flex-column flashSideBar">
            <!--FLASH messages reference: https://www.youtube.com/watch?v=cYWiDiIUxQc&t=30 -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }} 
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>


    <div class="col-md-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade" id="v-pills-add" role="tabpanel" aria-labelledby="v-pills-add-tab">
                <div class="row">
                    <div class="col-md-8">
                        <form method="POST" action="/members">
                            <!-- Members INSERT -->
                            <legend class="border-bottom mb-4">Become a Member of Novel Hovel</legend>
                            <div class="form-group">
                                {{ form.firstName.label(class="form-control-label") }}
                                {{ form.firstName(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.lastName.label(class="form-control-label") }}
                                {{ form.lastName(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.email.label(class="form-control-label") }}
                                {{ form.email(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.submit(class="btn btn-outline-primary") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade show active" id="v-pills-view" role="tabpanel" aria-labelledby="v-pills-view-tab">
                <!-- Members SELECT -->
                <legend>Members of Novel Hovel</legend>
                <table class = "table">
                    <thead>
                        <th hidden>Member ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                    </thead>
                    {% for member in members %}
                    <tr>
                        <td hidden>{{ member[0] }}</td> <!-- memberID -->
                        <td>{{ member[1] }}</td> <!-- first name -->
                        <td>{{ member[2] }}</td> <!-- last name -->
                        <td>{{ member[3] }}</td> <!-- email -->
                    </tr>
                    {% endfor %}
                </table>
                
            </div>
        
        </div>
    </div>

    
    
</div>



{% endblock body %}